
.items-header h3{
	color:#1e1e1e;
	font-size: 1.8em;/* Approximation due to font substitution */
	font-weight: 400;
	text-transform: capitalize;
}
 
.rental-item{
	position: relative;
	height: 290px;
	margin-top: 2.5em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.rental-img img{
	margin-top: 50px;
	max-width: 100%;
	height: 240px;
/*     filter: brightness(120%) contrast(130%); */
}

.rental-desc{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.rental-desc{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.rental-desc .item-name h3{
	line-height: 20px;
}
.rental-desc .item-specs{
	padding:6px;
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 19px;
/* 	height: 225px; */
	overflow: hidden;
}
.rental-desc .item-specs > *{
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	/* height: 100%; */ /* Note: disabled by A */
	overflow: auto;
}
.rental-desc .add-quote{
	position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
}
.rental-desc .add-quote .btn{
	color: #1d1d1d;
	border-radius: 6px;
    font-weight: 500;
}
.rental-desc .item-specs, .rental-desc .add-quote{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

.rental-item:hover .rental-desc .item-specs, .rental-item:hover .rental-desc .add-quote, .rental-item:active .rental-desc .item-specs, .rental-item:active .rental-desc .add-quote, .rental-item:focus .rental-desc .item-specs, .rental-item:focus .rental-desc .add-quote{
	opacity: 1;
}
.rental-item:hover .item-sec-name, .rental-item:active .item-sec-name, .rental-item:focus .item-sec-name{
	display: none;
}
.rental-item:hover .rental-desc, .rental-item:active .rental-desc, .rental-item:focus .rental-desc{
	background-color: #fac40c;
}
.rental-item:hover .item-name, .rental-item:active .item-name, .rental-item:focus .item-name{
	color:#FFF;
}
.remove-quote-cnt{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    text-align: center;
}

.remove-quote-cnt .remove-quote{
	position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
}

.quote-form .form-control{
	    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.62857 !important;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.hide {
    display: none;
}
.text-xs-right {
    text-align: right!important;
}
.view-quotes {
    background-color: #FFF;
    color: #e2b723;
    padding: 10px;
    border-bottom: 2px solid #e2b723;
    position: fixed;
    z-index: 10;
}

a.view-quotes{
	text-decoration: none !important;
}

.section-title {
    font-size: 2em;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.sec-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

form .form-group label {
    margin-bottom: 10px;
    font-weight: 700;
}

.quote-form .form-control {
	display: block;
    width: 100%;	
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.62857 !important;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.list-group-item.header {
    font-size: 16px;
    font-weight: 700;
}
.list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.list-group-item {
    display: -webkit-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item .item-cnt {
    margin-top: 4px;
    color: #888888;
    text-decoration: none !important;
}

.list-group-item .item-cnt:hover {
    text-decoration: none;
}
.list-group-item .item-cnt {
    margin-top: 4px;
    color: #888888;
}
a:active, a:hover {
    outline: 0;
}
a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline;
}
a:active, a:hover {
    outline-width: 0;
}
.d-inline-block {
    display: inline-block;
}

.d-inline-block {
    display: inline-block!important;
}

.list-group-item .remove-quote-from-checkout {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}
.d-inline-block {
    display: inline-block!important;
}

.jumbotron {
    padding: 4rem 2rem;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}

.bg-clr {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
}
.d-inline-block {
    display: inline-block!important;
}
.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check-input:only-child {
    position: static;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.mb-1 {
    margin-bottom: 1rem!important;
}

.text-muted {
    color: #818a91!important;
}

.text-xs-right {
    text-align: right!important;
}

.btn-danger {
    color: #fff;
    background-color: #e43636;
    border-color: #e12020;
    border-radius: 0px;
    padding: 15px 30px;
    text-transform: uppercase;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.parsley-errors-list {
    background-color: #f3c4cc;
    width: 100%;
    padding-left: 0px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: table-footer-group;
}

.parsley-errors-list {
    list-style: none;
}

.alert {
    height: auto;
    overflow: hidden;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-heading {
    color: inherit;
}

/* Custom CSS */
.rental-item:hover {
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
}
.rental-section .rental-desc a.quick-view {
    padding: 10px 23px;
    text-decoration: none !important;
    background: #51d2d6;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    opacity: 0;
    transition: .3s;
    font-family: "Avant Garde Gothic", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #E3B823;
    border-radius: 30px 30px 30px 30px;
}
.rental-section .rental-item:hover a.quick-view {
    opacity: 1;
}
.rental-section .rental-img img {
    margin-top: 0;
    max-width: 100%;
    height: auto;
    filter: brightness(120%) contrast(130%);
}
.rental-section .col-md-3 {
    display: inline-block;
    width: 33.333333333333%;
    vertical-align: top;
    margin-right: -0.25em;
    position: relative;
    padding: 10px
}
.rental-section .rental-item:hover .rental-desc {
    background-color: transparent;
}
.rental-section .col-md-3 .rental-item {
    margin-top: 0;
    border: 1px solid #edf2f5;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
}

.rental-section .rental-item .remove-quote-cnt .remove-quote {
    position: initial;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 133px;
    color: #d9534f;
    text-decoration: none;
}
.rental-section .rental-item h3.text-xs-center {
    color: #606060;
    font-size: 1.15em;
    line-height: 1.3em;
    font-weight: 500;
}
.rental-section .rental-item .rental-img.text-xs-center {
    text-align: center;
}
.rental-section .rental-item .rental-desc .add-quote {
    background: #fff;
    padding: 10px;
    transition: .3s
}
.rental-section .rental-item .remove-quote-cnt {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 10px;
    text-align: center;
    left: 0;
    background: #FFFFFF;
}
.col-xs-12.col-sm-6.col-md-4.float-right-left.text-xs-right.complate-quote {
    position: relative;
    display: inline-block;
    width: 100%;
}
.complate-quote .view-quotes {
    background-color: #FFF;
    color: #e2b723;
    padding: 10px;
    border-bottom: 2px solid #e2b723;
    position: inherit;
    z-index: 10;
    text-align: center;
    top: 74px;
    width: 90px;
    margin-right: 24px;
}
.grid-wrap {
    background-color: #FFF;
    color: #e2b723;
    position: inherit;
    z-index: 10;
    text-align: center;
    top: 67px;
    display: inline-block;
    float: right;
}
.rental-section {
    margin: 20px -10px;
}
.category-listing-view .col-md-12 {
    padding: 0 10px;
}
.featherlight-inner {
    display: none;
}

h1.block-title {
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #3d4459;
    font-family: "Avant Garde Gothic", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px
}

.item-content {
    color: #3d4459;
    font-family: "Avant Garde Gothic", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}
.item-content ul {
    padding: 0;
    margin: 0;
}

.item-content ul li {
    margin: 0;
    padding: 0;
    display: block;
}
.featherlight .featherlight-content {
    width: 600px;
    padding: 30px 50px;
}
.item-content p {
    margin: 0;
}
.featherlight .featherlight-close-icon {
    top: 15px;
    right: 10px;
}

h5.modal-title {
    font-size: 22px;
    border-bottom: 1px solid #e2e4e7;
}

.featherlight-content strong {
    display: block;
}

.featherlight-content h2.h2 {
    font-size: 26px;
}

/*.col-xs-12.col-sm-8.min-height-35 {
    display: inline-block;
    width: 50%;
    float: left;
}
.list-group-item {
     position: relative; 
    display: inline-block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
*//*
.col-xs-12.col-sm-8.min-height-35 {
    float: left;
    width: 66.666667%;
}
a.item-cnt.d-inline-block {
    margin-top: 4px;
    color: #888888;
}
.col-xs-12.col-sm-4.height-35 {
    width: 50%;
    float: right;
    float: left;
    width: 33.333333%;
}*/

#quote_items .col-xs-12.col-sm-8.min-height-35 {
    float: left;
    width: 66.666667%;
}
#quote_items .col-xs-12.col-sm-4.height-35 {
    width: 33.333333%;
    text-align: right;
    display: inline-block;
}
#quote_items .col-md-9 {
    width: 65px;
    float: right;
}

#quote_items form .form-group label {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

form .form-group label {
    margin-bottom: 10px;
    font-weight: 700;
    padding-right: 15px;
}

#quote_items .form-group {
    margin: 0 ;
}
.terms-panel .text-xs-right {
    margin: 0;
    text-align: right!important;
    float: right;
}


/* Quote Single */
.quote-details-wrap h3.title {
    font-weight: 500;
}
.quote-info-sidebar {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.col-sm-9.quote-info-warpper {
    width: 75%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.quote-info-sidebar ul {
    margin: 0;
}
.quote-info-sidebar ul li, .quote-details-text p {
    display: block;
    color: #3d4459;
    line-height: 28px;
}
.quote-info-sidebar ul li span {
    font-weight: 600;
}

/* Tab View - Category tab */


.panelContainer {
    clear: left;   
    background-color: #fff;
}



.category-listing-view .rental-desc p {
    color: #333;
    margin: 0;
}
/* reset ul defaults  */
.tabs {
    margin: 0;
    padding: 0; 
    list-style: none;   
}

/* set li properties  */
.tabs li {
    float: left;
    padding: 0;
    margin: 0 0 24px;
    text-align: center;
}

/* all formatting goes inside 'a' */
.tabs a {
    display: block;
    text-decoration: none !important;
    color: #333;
    font-weight: bold;
    padding: 7px 0;
    margin-right: 15px;
}


.tabs a.active {
    font-weight: bold;
    background-color: #FFF;
    color: #e2b723;
    border-bottom: 2px solid #e2b723;
    z-index: 10;
    text-align: left;
    outline: none;
}
.tabs a:focus {
    outline: none;
}
        
 .panel img {
             
         margin-top: 10px;
}

.panel p  {
             
         margin-bottom: 0px;
}















 /*Dropdown list */

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0;
    padding: 0;
    width: 230px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

.dropdown select {
    width: 100%;
    margin: 0;
    background: none;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    color: #444;
    padding: 10px;
    line-height: 1.3;
}



/* Hover style 
.dropdown:hover {
  border:1px solid #888;
}

/* Focus style */
select:focus {
  outline:none;
  box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
  background-color:transparent;
  color: #222;
  border:1px solid #aaa;
}


/* Firefox focus has odd artifacts around the text, this kills that */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option {
  font-weight:normal;
}


.dropdown::after {
    content: "";
    position: absolute;
    right: 17px;
    z-index: 11;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #2c2d33;
    border-left: 2px solid #2c2d33;
    top: 15px;
    -webkit-transform: rotate(224deg);
    transform: rotate(224deg);
    z-index: -1;
}















/* List view */
.category-listing-view .rental-desc {
    position: initial;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.category-listing-view .rental-img {
    width: 25%;
    float: left;
}
.category-listing-view .rental-desc {
    width: 75%;
    float: left;
    padding: 0 35px;
}

.category-listing-view .rental-section .rental-desc a.quick-view,
.category-listing-view .rental-section .rental-item .remove-quote-cnt,
.category-listing-view  .rental-desc .add-quote {
    position: initial;
}

.category-listing-view .rental-item {
    position: relative;
    height: 230px;
    margin-top: 24px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 30px;
    border: 1px solid #edf2f5;
}

.panel .category-listing-view p {
    margin-bottom: 0px;
    color: #333;
}

.category-listing-view .rental-section .rental-item .rental-desc .add-quote {
    background: transparent;
    padding: 0;
    transition: .3s;
}

.category-listing-view .rental-section .rental-img img {
    margin-top: 0;
    max-width: 100%;
    height: 100%;
    filter: brightness(120%) contrast(130%);
    margin: 0;
    position: relative;
}


.category-listing-view .rental-desc .add-quote {
    position: relative;
    bottom: 10px;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
    opacity: 1;
    margin-top: 30px
}

.category-listing-view .rental-desc .add-quote .btn {
    color: #1d1d1d;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    float: left;
    width: 120px;
    padding: 7px;
}

.category-listing-view .rental-section .rental-item .remove-quote-cnt {
    position: absolute !important;
    z-index: 1;
    top: 0;
    text-align: center;
    right: 0;
    background: #f2f2f2;
    padding: 0px;
    border-radius: 4px;
    width: 120px;
    float: right;
    left: 130px;
}


.category-listing-view .rental-section .rental-item .remove-quote-cnt .remove-quote {
    position: initial;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
    color: #d9534f;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    float: right;
    width: 120px;
    padding: 7px;
}

.category-listing-view .rental-section .rental-item h3.text-xs-center {
    font-size: 24px;
}

.category-listing-view .rental-section .rental-desc a.quick-view {
    padding: 7px 23px;
    text-decoration: none !important;
    background: #51d2d6;
    color: #fff;
    text-align: center;
    transform: none;
    position: initial;
    top: 50%;
    /* left: 50%; */
    border: none;
     opacity: 1; 
    transition: .3s;
    font-family: "Avant Garde Gothic", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #E3B823;
    border-radius: 4px;
    display: inline-block;
    float: left;
    /* width: 230px; */
    margin-right: 10px;
}